{% extends 'base.html' %}
{% block content %}
<div class="d-flex justify-content-between mb-3">
    <h2>Gestão do Organograma</h2>
    <div>
        <a href="{% url 'upload_organograma' %}" class="btn btn-info">Importar CSV</a>
        <a href="{% url 'criar_unidade' %}" class="btn btn-primary">+ Nova Unidade</a>
    </div>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Código</th>
            <th>Sigla</th>
            <th>Nome</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        {% for unidade in unidades %}
        <tr>
            <td>{{ unidade.codigo_unidade }}</td>
            <td>{{ unidade.sigla }}</td>
            <td>{{ unidade.nome }}</td>
            <td>
                <a href="{% url 'editar_unidade' pk=unidade.pk %}" class="btn btn-sm btn-warning">Editar</a>
                <a href="{% url 'deletar_unidade' pk=unidade.pk %}" class="btn btn-sm btn-danger">Excluir</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}